{{> head}}

    {{> navbar}}

    <div class="row">

        <div class ="col-8">
            <h1>Este es el About</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Ipsum, fugiat sed! Debitis numquam in dolor repellat, 
                distinctio quasi eius, fugiat eaque fugit voluptatum impedit illum? Quod, 
                soluta vel? Commodi, in!
            </p>
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/goku.jpg" alt="Goku Inyecciones">
        </div>

    </div>

{{> footer}}